@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para centrar el icono */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .dropzone span {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .paimon {
    height: 34px;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    padding: 1em;
    background-color: #000000;
    color: #F1EFE7;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: location 2s infinite;

  }
  
  .location-button {
    height: 34px;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    padding: 1.5em;
    background-color: #000000;
    color: #F1EFE7;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: location 2s infinite;
  }

  @keyframes location {
    10% {
      transform: scale(1.05) rotate(5deg);
    }
    20% {
      transform: scale(1.05) rotate(-5deg);
    }
    30% {
      transform: scale(1.05) rotate(5deg);
    }
    40% {
      transform: none;
    }
  }